@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html 

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: var(--bodyFont);
    /* outline: 1px solid red; */
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    font-family: var(--headingFont);
}


.logo:hover {
    cursor: pointer;
}

.nav-left {
    margin-right: auto; 
    margin-left: 30px;
    font-size: 17px;
    display: flex;
    gap: 18px;
    
}

.nav-left a, .nav-left a:visited {
    color: black;
    transition: all 0.4s ease;
}
.nav-left a:hover {
    color: var(--primary-500);
    cursor: pointer;
}



.logo {
    width: 200px;
}

.contact {
    padding: 7px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--primary-500);
    color: var(--white)
}

.contact:hover {
    background-color: var(--primary-700);
}

/* Main */
.main  {
    font-family: var(--bodyFont);
    width: 1100px;
    margin: 20px auto;
}


.hero {
    color: var(--grey-50);
    text-align: center;
    background-image: url('img/main.jpeg');
    background-size:cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    border-radius: 4px;
}

.hero h3 {
    font-size: 25px;
}

/* recipes */
.recipes {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    gap: 10px;
}


.recipes span {
    font-size: 25px;
    margin-bottom: 10px;
}

.recipes a, .recipes a:visited {
    color: var(--grey-600);
    transition: all 0.4s ease;
}

.recipes a:hover{
    color: var(--primary-500);
}


/* recipe cards */

.grid-col-2 {
    width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    /* padding-right: 80px; */
}

.grid-container .card a {
    color: var(--grey-700);
}

.grid-container .card a:hover {
    cursor: pointer;
}


.card img{
    width: 300px;
    height: 180px;
    border-radius: 4px;
}

.grid-container p {
    font-size:12px;
}

.card h5 {
    font-size: 17px;
    letter-spacing: 1px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: var(--grey-900);
    color: var(--grey-100)
}

.footer .text-blue {
    color: var(--primary-500);
}

/* Single Ingredient Styles */
/* Main-content-grid */

  
.main-content-grid {
    width: 1100px;
    margin: 25px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.b-pancake h1 {
    font-size: 38px;
    letter-spacing: 2px;
}

.b-pancake p {
    margin-top: 20px;
    letter-spacing: 2px;
}

.b-container {
    display: flex;
    align-items: center;
}

.banana-2 {
    width:480px;
    height: 300px;
    border-radius: 5px;
}

/* Icons */
.time-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
    font-size: 13px;
}

.time-grid img{
    height: 20px;
    width: 20px;
}

.black-time {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 7px;
}

.white-time {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 7px;
}

.people {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 7px;
}

/* Tags */

.tags {
    display: flex;
    margin-top: 40px;
    gap: 8px;
    font-size: 12px;
    align-items: center;
}

.tags ul li {
    display: inline-block;
    margin-left: 8px;
    background-color: var(--primary-500);
    color: var(--grey-100);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

/* Bottom section */

.bottom-grid {
    margin: 80px auto 0;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.instructions span {
    color: var(--primary-500);
}

.ingredients {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line-2{
    background-color: var(--grey-300);
    height: 1px;
    width: 200px;
}

.step-1, .step-2, .step-3 {
    display: grid;
    gap: 10px;
}

.line {
    display: inline-block;
    background-color: var(--grey-300);
    width: 400px;
    height: 1px;
    margin-bottom: 4px;
}

.tools {
    display: grid;
    gap: 20px;
    margin-bottom: 60px;
}

.tools span {
    color: var(--primary-500);
}
